@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #e6e9ff;
	height: 100vh;
}

.App {
	height: 100vh;
	background: #e6e9ff;
	display: flex;
	flex-direction: column;
	align-content: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}